@model GuildCars.UI.Models.UserViewModel
<h2>Add User</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6" style="margin-top:20px">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name", required = "required", title = "Please enter first name" })
                    @Html.ValidationMessageFor(m=>m.FirstName)
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "LastName", required = "required", title = "Please enter last name" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top:20px">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "required", title = "Please enter an email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m=>m.Role)
                    @Html.DropDownListFor(m => m.RoleId, Model.Roles, new { @class = "form-control", placeholder = "Role", required = "required", title = "Please select a role" })
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.UserName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top:20px">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required", title = "Please enter a password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword", required = "required", title = "Please confirm password" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left" style="margin-top:20px">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>