@model GuildCars.UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 table-bordered" style="padding-bottom: 20px; padding-top:20px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required", title = "Please enter password" })
                @Html.ValidationMessageFor(m=>m.Password)
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword", required = "required", title = "Please comfirm password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <button class="btn btn-primary" type="submit" style="margin-top:20px">Save</button>
            }
         </div>
    </div>
</div>
