@model GuildCars.UI.Models.SearchModel

@{
    ViewBag.Title = "UsedInventory";
}

<h2>Used Inventory</h2>
<div class="row">
    <div class="col-md-2">
        <label>Quick Search</label>
        <input type="text" id="SearchTerm" class="form-control" />
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => Model.YearMin, "Min Year")
        @Html.DropDownListFor(m => Model.mnYear, Model.YearMin, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => Model.YearMax, "Max Year")
        @Html.DropDownListFor(m => Model.mxYear, Model.YearMax, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => Model.mnPrice, "Min Price")
        @Html.DropDownListFor(m => Model.mnPrice, Model.PriceMin, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => Model.mxPrice, "Max Price")
        @Html.DropDownListFor(m => Model.mxPrice, Model.PriceMax, new { @class = "form-control" })
    </div>
    <div class="col-md-12"><hr /></div>
    <div class="row text-center">
        <div class="col-md-12 text-center" style="width:150px">
            <button class="btn btn-primary text-center" onclick="SearchInventory()">Search</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <tbody id="search-list-contentRows"></tbody>
        </table>
    </div>
</div>

